<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - modpack</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/modpack.styles.css" asp-append-version="true" />

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css">

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion"
            id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <li>
                <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="" asp-controller="AdminUser" asp-action="Index">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-cube"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">ModPack</div>
                </a>
            </li>
            <!-- Divider -->
            <li>
                <hr class="sidebar-divider my-0" />
            </li>
            <!-- Divider -->
            <li>
                <hr class="sidebar-divider" />
            </li>
            <!-- Heading -->
            <li>
                <div class="sidebar-heading">管理者</div>
            </li>
            <!-- Nav Item - 員工-資料管理 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed"
                   href="#"
                   data-toggle="collapse"
                   data-target="#collapseAdminUser"
                   aria-expanded="true"
                   aria-controls="collapseAdminUser">
                    <i class="fas fa-fw fa-user"></i>
                    <span>當前管理者</span>
                </a>
                <div id="collapseAdminUser"
                     class="collapse"
                     aria-labelledby="headingAdminCurrent"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="text-dark collapse-item" asp-area="" asp-controller="AdminUser" asp-action="Index">檢視</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed"
                   href="#"
                   data-toggle="collapse"
                   data-target="#collapseAdminTitle"
                   aria-expanded="true"
                   aria-controls="collapseAdminTitle">
                    <i class="fas fa-fw fa-user"></i>
                    <span>部門管理</span>
                </a>
                <div id="collapseAdminTitle"
                     class="collapse"
                     aria-labelledby="headingAdminTitle"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="text-dark collapse-item" asp-area="" asp-controller="AdminEmployeeInfo" asp-action="List">檢視</a>
                        <a class="text-dark collapse-item" asp-area="" asp-controller="AdminEmployeeInfo" asp-action="Create">新增</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <li>
                <hr class="sidebar-divider" />
            </li>

            <!-- Heading -->
            <li>
                <div class="sidebar-heading">會員</div>
            </li>

            <!-- Nav Item - 會員-資料管理 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed"
                   href="#"
                   data-toggle="collapse"
                   data-target="#collapseUtilities"
                   aria-expanded="true"
                   aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-file"></i>
                    <span>資料管理</span>
                </a>
                <div id="collapseUtilities"
                     class="collapse"
                     aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="text-dark collapse-item" asp-area="" asp-controller="AdminMemberInfo" asp-action="List">檢視</a>
                        @* <a class="text-dark collapse-item" asp-area="" asp-controller="AdminMemberInfo" asp-action="Revise">修改</a> *@
                        <a class="text-dark collapse-item" asp-area="" asp-controller="AdminMemberInfo" asp-action="Create">新增</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 會員-訂單管理 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed"
                   href="#"
                   data-toggle="collapse"
                   data-target="#collapse訂單"
                   aria-expanded="true"
                   aria-controls="collapse訂單">
                    <i class="fas fa-fw fa-clipboard-list"></i>
                    <span>訂單管理</span>
                </a>
                <div id="collapse訂單"
                     class="collapse"
                     aria-labelledby="headingPages"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="text-dark collapse-item" asp-area="" asp-controller="Order" asp-action="List">檢視</a>
                        @* <a class="text-dark collapse-item" asp-area="" asp-controller="*" asp-action="Revise">修改</a> *@
                        @* <a class="text-dark collapse-item" asp-area="" asp-controller="*" asp-action="Create">新增</a> *@
                    </div>
                </div>
            </li>

            <!-- Nav Item - 會員-購物金管理 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed"
                   href="#"
                   data-toggle="collapse"
                   data-target="#collapse購物金"
                   aria-expanded="true"
                   aria-controls="collapse購物金">
                    <i class="fas fa-fw fa-dollar-sign"></i>
                    <span>購物金管理</span>
                </a>
                <div id="collapse購物金"
                     class="collapse"
                     aria-labelledby="headingPages"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="text-dark collapse-item" asp-area="" asp-controller="Product" asp-action="Index">修改產品</a>
                        @* <a class="text-dark collapse-item" asp-area="" asp-controller="*" asp-action="Revise">修改</a>
                        <a class="text-dark collapse-item" asp-area="" asp-controller="*" asp-action="Create">新增</a> *@
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <li>
                <hr class="sidebar-divider" />
            </li>

         

            <!-- Heading -->
            <li>
                <div class="sidebar-heading">產品</div>
            </li>
            <!-- Nav Item - 產品-元件管理 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed"
                   href="#"
                   data-toggle="collapse"
                   data-target="#collapse元件"
                   aria-expanded="true"
                   aria-controls="collapse元件">
                    <i class="fas fa-fw fa-box-open"></i>
                    <span>元件管理</span>
                </a>
                <div id="collapse元件"
                     class="collapse"
                     aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="text-dark collapse-item" asp-area="" asp-controller="Components" asp-action="List">檢視</a>
                        <a class="text-dark collapse-item" asp-area="" asp-controller="Components" asp-action="Create">新增</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - 產品-產品管理 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed"
                   href="#"
                   data-toggle="collapse"
                   data-target="#collapse產品"
                   aria-expanded="true"
                   aria-controls="collapse產品">
                    <i class="fas fa-fw fa-box-open"></i>
                    <span>產品管理</span>
                </a>
                <div id="collapse產品"
                     class="collapse"
                     aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="text-dark collapse-item" asp-area="" asp-controller="Products" asp-action="List">檢視</a>
                        <a class="text-dark collapse-item" asp-area="" asp-controller="Products" asp-action="Create">新增</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 產品-客製化管理 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed"
                   href="#"
                   data-toggle="collapse"
                   data-target="#collapse客製化"
                   aria-expanded="true"
                   aria-controls="collapse客製化">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>客製化管理</span>
                </a>
                <div id="collapse客製化"
                     class="collapse"
                     aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="text-dark collapse-item" asp-area="" asp-controller="Inspiration" asp-action="List">靈感檢視</a>
                        <a class="text-dark collapse-item" asp-area="" asp-controller="Customized" asp-action="List">客製化檢視</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <li>
                <hr class="sidebar-divider" />
            </li>

            <!-- Heading -->
            <li>
                <div class="sidebar-heading">其他</div>
            </li>

            <!-- Nav Item - 其他-優惠碼管理 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed"
                   href="#"
                   data-toggle="collapse"
                   data-target="#collapse優惠碼"
                   aria-expanded="true"
                   aria-controls="collapse優惠碼">
                    <i class="fas fa-fw fa-barcode"></i>
                    <span>優惠碼管理</span>
                </a>
                <div id="collapse優惠碼"
                     class="collapse"
                     aria-labelledby="headingTwo"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="text-dark collapse-item" asp-area="" asp-controller="PromoCode" asp-action="List">檢視</a>
                        @* <a class="text-dark collapse-item" asp-area="" asp-controller="*" asp-action="Revise">修改</a> *@
                        <a class="text-dark collapse-item" asp-area="" asp-controller="PromoCode" asp-action="Create">新增</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 其他-客服管理 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed"
                   href="#"
                   data-toggle="collapse"
                   data-target="#collapseAdminService"
                   aria-expanded="true"
                   aria-controls="collapseAdminService">
                    <i class="fas fa-fw fa-ad"></i>
                    <span>客服管理</span>
                </a>
                <div id="collapseAdminService"
                     class="collapse"
                     aria-labelledby="headingAdminService"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="text-dark collapse-item" asp-area="" asp-controller="AdminServiceRecords" asp-action="List">檢視</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 其他-輪播管理 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed"
                   href="#"
                   data-toggle="collapse"
                   data-target="#collapseCarousel"
                   aria-expanded="true"
                   aria-controls="collapseCarousel">
                    <i class="fas fa-fw fa-ad"></i>
                    <span>輪播管理</span>
                </a>
                <div id="collapseCarousel"
                     class="collapse"
                     aria-labelledby="headingCarousel"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="text-dark collapse-item" asp-area="" asp-controller="AdminImageCarousel" asp-action="List">檢視</a>
                        <a class="text-dark collapse-item" asp-area="" asp-controller="AdminImageCarousel" asp-action="Create">新增</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 其他-數據管理 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed"
                   href="#"
                   data-toggle="collapse"
                   data-target="#collapseDatas"
                   aria-expanded="true"
                   aria-controls="collapseDatas">
                    <i class="fas fa-fw fa-chart-bar"></i>
                    <span>數據管理</span>
                </a>
                <div id="collapseDatas"
                     class="collapse"
                     aria-labelledby="headingDatas"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="text-dark collapse-item" asp-area="" asp-controller="AdminDataAnlysis" asp-action="DataList">檢視</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 其他-門市位置 Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed"
                   href="#"
                   data-toggle="collapse"
                   data-target="#collapseDatas2"
                   aria-expanded="true"
                   aria-controls="collapseDatas2">
                    <i class="fas fa-fw fa-chart-bar"></i>
                    <span>門市位置表</span>
                </a>
                <div id="collapseDatas2"
                     class="collapse"
                     aria-labelledby="headingDatas2"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="text-dark collapse-item" asp-area="" asp-controller="StoreLocations" asp-action="Index">檢視</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <li>
                <hr class="sidebar-divider d-none d-md-block" />
            </li>
            <!-- Sidebar Toggler (Sidebar) -->
            <li class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </li>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop"
                            class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="userDropdown"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.Name</span>
                                <img class="img-profile rounded-circle" src="~/favicon.ico" />
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                @Html.ActionLink("個人資料", "Index", "AdminUser", new { area = "" }, new { @class = "dropdown-item" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("登出", "Logout", "AdminUser", new { area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade"
         id="logoutModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close"
                            type="button"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Select "Logout" below if you are ready to end your current session.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary"
                            type="button"
                            data-dismiss="modal">
                        Cancel
                    </button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
