@model List<modpack.DTO.ProductsDTO>

@{
    ViewData["Title"] = "List";
}

<h1>產品一覽表</h1>
@using (Html.BeginForm())
{
    @:搜尋 @Html.TextBox("txtKeyword", null, new { placeholder = "輸入關鍵字" })
}
<table class="table">
    <thead>
        <tr>
            <th>
                序號
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PromotionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].OriginalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].SalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ImageFileName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tbody">
        @{
            int count = 0;
            foreach (var item in Model)
            {
               
                     count++;
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PromotionName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OriginalPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SalePrice)
                        </td>
                        <td>
                        <img src="~/images/product/@item.ImageFileName" width="60" height="60" />
                        </td>
                        <td>
                            @Html.ActionLink("修改", "Edit", "Products", new { id = item.ProductId }, null)
                            @Html.ActionLink("刪除", "Delete", "Products", new { id = item.ProductId }, null)
                        </td>
                    </tr>
            }
        }
    </tbody>
</table>
@section Scripts
{
    <script>
       @*     $('#txtKeyword').blur(()=> {
            var searchTerm = $('#txtKeyword').val();
            console.log($('#txtKeyword').val());
        });
        $('#txtKeyword').keypress(event=> {
            if (event.which === 13) { // 13 是 Enter 键的键码
                event.preventDefault();
                var searchTerm = $('#txtKeyword').val();
                console.log($('#txtKeyword').val());
            }
        });
    function showEmployees(data, target){
            target.empty();
            @{
              string str="";
              int count = 0;
              foreach (var item in Model)
              {
                       <tr>
                       "bbbb";
                     </tr>
              }
            }
           target.html(@str);
            }
             setTimeout(    
                 function Query() {
                fetch("http://localhost:7250/api/Products", {
                    method: "GET",
                }).then(response=>{
                    if (response.ok){
                        return response.json()
                    }
                }).then(data => {
                    showEmployees(data, $(".tbody"));
                }).catch(error => {
                    alert(error);
                });
            }, 200);
            *@
    </script>
}
