@model modpack.Models.Member

@{
    ViewData["Title"] = "Details";
}
<head>
    <style>
        .btn-icon img {
            margin-right: 5px; /* 在圖標和文字之間增加空間 */
            vertical-align: middle; /* 確保圖標和文字垂直對齊 */
        }
    </style>
</head>

<h1>會員詳細資料</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Level.Name)_@Html.DisplayFor(model => model.Account)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            會員帳號
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account)
        </dd>
        <dt class = "col-sm-2">
            會員名稱
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            電子郵件
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            電話
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            地址
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            驗證狀態
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>
        <dt class="col-sm-2">
            註冊日期
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt class = "col-sm-2">
            最後修改日期
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModificationTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MemberId" class="btn btn-icon">
        <img src="~/svg/pencil-fill.svg" alt="編輯" width="16" height="16" /> 編輯
    </a> |
    <a asp-action="Delete" asp-route-id="@Model?.MemberId" class="btn btn-icon">
        <img src="~/svg/person-x.svg" alt="刪除" width="16" height="16" /> 刪除
    </a> |
    <a asp-action="List" class="btn btn-icon">
        <img src="~/svg/arrow-return-left.svg" alt="返回檢視" width="16" height="16" /> 返回檢視
    </a>
</div>
