@model IEnumerable<modpack.ViewModels.CAdminViewModel>
@using X.PagedList;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "List";
}

<h1><span asp-for="TitleID"></span>部門管理</h1>
<p><a asp-action="Create">新增管理者</a></p>
<hr />
<div class="form-group">
    <form asp-action="List" method="get" style="display: flex; align-items: center;">
        <input class="form-control" placeholder="請輸入關鍵字" style="width: 300px;" />
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                序
                <span asp-for="@Model.First().AdminID"></span>
            </th>
            <th>
                職級
                <span asp-for="@Model.First().TitleID"></span>
            </th>
            <th>
                姓名
                <span asp-for="@Model.First().AdminName"></span>
            </th>
            <th>
                管理者編號
                <span asp-for="@Model.First().aAdminCode"></span>
            </th>
            <th>
                照片
                <span asp-for="@Model.First().AdminImage"></span>
            </th>
            <th>
                帳號
                <span asp-for="@Model.First().AdminAccount"></span>
            </th>
            <th>
                密碼
                <span asp-for="@Model.First().AdminPassword"></span>
                @*<span type="hidden" asp-for="@Model.First().AdminPassword"></span>*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                        @*
                        @Html.DisplayFor(modelItem => item.AdminID)
                        *@
                    </td>
                    <td>
                        @item.TitleName
                        @* @Html.DisplayFor(modelItem => item.TitleName) *@
                    </td>
                    <td>
                        @item.AdminName
                        @* @Html.DisplayFor(modelItem => item.AdminName) *@
                    </td>
                    <td>
                        @item.aAdminCode
                        @* @Html.DisplayFor(modelItem => item.aAdminCode) *@
                    </td>
                    <td>
                        @* <img src="~/images/admin/@item.AdminImage" width="80" height="60" /> *@
                    </td>
                    <td>
                        @item.AdminAccount
                        @* @Html.DisplayFor(modelItem => item.AdminAccount) *@
                    </td>
                    <td>
                        @item.AdminPassword
                        @* @Html.DisplayFor(modelItem => item.AdminPassword) *@
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AdminID">編輯</a>
                        <a asp-action="Delete" asp-route-id="@item.AdminID" onclick="return confirm('確定要刪除嗎?')">刪除</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, x => Url.Action("List", new { page = x }))