@model modpackFront.DTO.HomeDTO
@{
    ViewData["Title"] = "Home Page";
    var username = User.Identity.IsAuthenticated ? User.Identity.Name : "Guest";

    var configuration = (IConfiguration)Context.RequestServices.GetService(typeof(IConfiguration));
    var buildUrl = configuration.GetSection("BackUrl").Value;
}

<div class="swiper-container swiper-container-alt">
    <div class="swiper-wrapper">

        <div class="swiper-slide">
            <div class="image image-overlay image-zoom" style="background-image:url(@buildUrl/images/carousel/@Model.ImageCarousel[0].Image)"></div>
            <div class="container">
                <div class="row align-items-center justify-content-center vh-80">
                    <div class="col-lg-8 text-white text-center" data-swiper-parallax-y="-100%">
                        <h1 class="display-2 mb-2">
                            @Model.ImageCarousel[0].Description
                        </h1>
                        <a href="@buildUrl/images/carousel/@Model.ImageCarousel[0].Image" class="btn btn-white">立即觀看</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="image image-overlay image-zoom" style="background-image:url(@buildUrl/images/carousel/@Model.ImageCarousel[1].Image)"></div>
            <div class="container">
                <div class="row align-items-center justify-content-center vh-80">
                    <div class="col-lg-6 text-white text-center" data-swiper-parallax-y="-100%">
                        <h1 class="display-2 mb-2">
                            @Model.ImageCarousel[1].Description
                        </h1>
                        <a href="@buildUrl/images/carousel/@Model.ImageCarousel[1].Image" class="btn btn-outline-white">立即觀看</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="image image-overlay image-zoom" style="background-image:url(@buildUrl/images/carousel/@Model.ImageCarousel[2].Image)"></div>
            <div class="container">
                <div class="row align-items-center justify-content-center vh-80">
                    <div class="col-lg-6 text-white text-center" data-swiper-parallax-y="-100%">
                        <h1 class="display-2 mb-2">
                            @Model.ImageCarousel[2].Description
                        </h1>
                        <a href="@buildUrl/images/carousel/@Model.ImageCarousel[2].Image" class="btn btn-outline-white">立即觀看</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>


<section class="pt-1">
    <div class="container-full">
        <div class="row masonry gutter-1">

            <div class="col-md-4">
                <a href="" class="card card-equal equal-50 equal-md-100 card-scale">
                    <span class="image image-overlay"
                          style="background-image: url(@buildUrl/images/home/home-itme1.jpeg"></span>
                    <div class="card-body text-center text-white">
                        <h3>最新背包</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="" class="card card-equal equal-50 equal-md-100 card-scale">
                    <span class="image image-overlay"
                          style="background-image: url(@buildUrl/images/home/home-itme2.jpeg)"></span>
                    <div class="card-body text-center text-white">
                        <h3>人氣靈感</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="" class="card card-equal equal-50 equal-md-100 card-scale">
                    <span class="image image-overlay"
                          style="background-image: url(@buildUrl/images/home/home-itme3.jpeg)"></span>
                    <div class="card-body text-center text-white">
                        <h3>名人客製</h3>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>


<section class="pt-0 pb-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>本月精選</h2>
            </div>
        </div>
        <div class="row gutter-2 gutter-md-3">
            
            @* <div class="col-6 col-lg-3" data-product-id="1">
                <div class="product">
                    <figure class="product-image">
                        <a href="#!">
                            <img src="/images/home-productList1-1.jpg" alt="Image" />
                            <img src="/images/home-productList1-2.jpg" alt="Image" />
                            <div class="status">學生證特惠</div>
                        </a>
                    </figure>
                    <div class="product-meta">
                        <h3 class="product-title">
                            <a href="#!">休閒背包 / 麥拉倫背包</a>
                        </h3>
                        <div class="product-price">
                            <span><del>NT$ 2500</del>&nbsp;&nbsp;NT$ 1999</span>
                            <span class="product-action">
                                <a href="#!">加到購物車</a>
                            </span>
                        </div>
                        <a href="#!" class="product-like"></a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3" data-product-id="2">
                <div class="product">
                    <figure class="product-image">
                        <a href="#!">
                            <img src="/images/home-productList2-1.jpg" alt="Image" />
                            <img src="/images/home-productList2-2.jpg" alt="Image" />
                            <div class="status">新品上市</div>
                        </a>
                    </figure>
                    <div class="product-meta">
                        <h3 class="product-title">
                            <a href="#!">越野背包 / T-60 沙漠之鷹</a>
                        </h3>
                        <div class="product-price">
                            <span><del>NT$ 3800</del>&nbsp;&nbsp;NT$ 2999</span>
                            <span class="product-action">
                                <a href="#!">加到購物車</a>
                            </span>
                        </div>
                        <a href="#!" class="product-like"></a>
                    </div>
                </div>
            </div> *@

            @{
                int productCount = 0;
            }
            @foreach(var item in Model.Product)
            {
                if (productCount < 4 && item.PromotionId == 2)
                {
                    <div class="col-6 col-lg-3">
                        <div class="product">
                            <figure class="product-image">
                                <a href="#!">
                                    <img src="@buildUrl/images/product/@item.ImageFileName" alt="Image" />
                                    @* <img src="/assets/images/product-1.jpg" alt="Image" />
                                    <img src="/assets/images/product-1-2.jpg" alt="Image" /> *@
                                    <div class="status">@item.Promotion.Name</div>
                                </a>
                            </figure>
                            <div class="product-meta">
                                <h3 class="product-title">
                                    <a href="#!">@item.Category / @item.Name</a>
                                </h3>
                                <div class="product-price">
                                    <span><del>NT$ @item.OriginalPrice</del>&nbsp;&nbsp;NT$ @item.SalePrice</span>
                                    <span class="product-action">
                                        <a href="#!">加到購物車</a>
                                    </span>
                                </div>
                                <a href="#!" class="product-like"></a>
                            </div>
                        </div>
                    </div>
                    productCount++;
                }
            }

            <!-- product loadmore item -->

            <div class="col-sm-4 skeleton-default" id="skeletonContainer1">
                <div class="skeleton-rectangle"></div>
                <div class="skeleton-rectangle-medium"></div>
                <div class="skeleton-rectangle-small"></div>
            </div>
            <div class="col-sm-4 skeleton-default" id="skeletonContainer2">
                <div class="skeleton-rectangle"></div>
                <div class="skeleton-rectangle-medium"></div>
                <div class="skeleton-rectangle-small"></div>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <a href="#!" class="btn btn-outline-secondary" id="loadMoreBtn">顯示更多</a>
            </div>
        </div>

    </div>
</section>

@section Styles {
    <link rel="stylesheet" href="~/css/Index.css">
    <style>
        /**/

        /* product list*/
        .product-price span {
        }

        .product-price span del {
            position: relative !important;
            text-decoration: none !important;
        }

        .product-price span del::before {
            content: "";
            position: absolute;
            left: 0;
            width: 80px;
            height: 2px;
            left: 50%; /* 将左边缘置于父元素的中间 */
            transform: translateX(-200%); /* 通过向左移动自身宽度的一半来实现居中 */
            bottom: 40%;
            background-color: red !important;
            overflow: hidden !important;
        }

        .product-price > span:nth-last-child(2) {
            font-style: italic;
        }

        /* StatusId effect */
        .product-image {
            position: relative;
            display: inline-block;
        }

        .status {
            font-size: 28px !important;
            position: absolute;
            top: 0;
            right: 0;
            background-color: red;
            color: white;
            padding: 4px 8px;
            transform: rotate(45deg) translate(50%, 90%); /* 同時旋轉和移動 */
            transform-origin: 100% 0%; /* 設定旋轉的基準點為右上角 */
            width: 190px;
            text-align: center;
        }

        .product-like-active {
            /**/
            color: green;
        }

        /* skeleton-1 */
        .skeleton-default {
            min-height: 150px;
            position: relative;
            display: none;
        }

        .skeleton-rectangle {
            width: 350px;
            height: 446px;
            background-color: #e0e0e0;
            animation: blink .5s infinite alternate;
        }

        .skeleton-rectangle-medium,
        .skeleton-rectangle-small {
            width: 100%;
            height: 20px;
            background-color: #e0e0e0;
            margin-top: 10px;
            animation: blink 1.5s infinite alternate;
        }

        .skeleton-rectangle-small {
            width: 40%;
            height: 15px;
        }

        @@keyframes blink {
            0% {
                opacity: 0.5;
            }

            100% {
                opacity: 1;
            }
        }

        @@media (max-width: 1024) {
            .skeleton-rectangle {
                width: 330px;
                height: 446px;
            }

            .skeleton-rectangle-medium {
                width: 330px;
                height: 21px;
            }

            .skeleton-rectangle-small {
                width: 97px;
                height: 20px;
            }
        }

        /* skeleton-2 rwd*/
        @@media (max-width: 768px) {
            .skeleton-rectangle {
                width: 245px;
                height: 331px;
            }

            .skeleton-rectangle-medium {
                margin-top: 12px;
                width: 215px;
                height: 20px;
            }

            .skeleton-rectangle-small {
                width: 97px;
                height: 20px;
            }
        }

        .show-skeleton .skeleton-default {
            display: block !important;
        }

        /*共用*/
        .hide {
            display: none !important;
        }
    </style>
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.5/signalr.min.js"></script>
    <script>
        /* 需手動刷新才會變更圖片
        // imageCarousel
        const ImageCarouselId = [1, 2, 3];
        const requestUrl = `http://localhost:7251/AdminImageCarousel/images?ids=1,2&timestamp=${Date.now()}`;  // url = .../images?ids=1,2
        fetch(requestUrl)
            .then(response => {
                if (!response.ok) {
                    throw new Error('您的網路已gg');
                }
                return response.json();
            })
            .then(data => {
                data.forEach(item => {
                    const slideHTML = `
                                <div class="swiper-slide">
                                    <div class="image image-overlay image-zoom" style="background-image: url(/images/carousel/${item.Image})"></div>
                                    <div class="container">
                                        <div class="row align-items-center justify-content-center vh-80">
                                            <div class="col-lg-8 text-white text-center" data-swiper-parallax-y="-100%">
                                                <h1 class="display-2 mb-2">${item.Title}</h1>
                                                <a href="${item.Link}" class="btn btn-white">${item.ButtonText}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `;
                    document.querySelector('.swiper-wrapper').innerHTML += slideHTML;
                });
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);
            });*/


        // new，不須手動刷新即可更新，仍有錯誤
        // 创建 SignalR 连接
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("@buildUrl/Service/imageCarouselHub") // 你的 SignalR Hub URL ???
            .configureLogging(signalR.LogLevel.Information)
            .build();

        // 当接收到图片路径更新时，更新轮播图片
        connection.on("ReceiveImagePaths", function (imagePaths) {
            console.log("Received image paths:", imagePaths);
            updateCarousel(imagePaths);
        });

        // 启动 SignalR 连接
        connection.start().then(function () {
            console.log("SignalR Connected!");
        }).catch(function (err) {
            console.error(err.toString());
        });

        // 函数用于更新轮播图片
        function updateCarousel(imagePaths, descriptions, links) {
            // 获取所有轮播图片元素
            const carouselSlides = document.querySelectorAll('.swiper-slide');

            // 遍历每个轮播图片元素，更新背景图片、描述和链接
            carouselSlides.forEach((slide, index) => {
                const imageElement = slide.querySelector('.image.image-overlay.image-zoom');
                const descriptionElement = slide.querySelector('.display-2.mb-2');
                const linkElement = slide.querySelector('a.btn.btn-white');

                // 更新背景图片
                imageElement.style.backgroundImage = `url(@buildUrl/${imagePaths[index]})`;

                // 更新描述
                descriptionElement.textContent = descriptions[index];

                // 更新链接
                linkElement.href = links[index];
            });
        }


        /// add to facorite
        $(".product-like").click(function (e) {
            e.preventDefault();
            var productId = $(this).closest(".product").data("product-id");
            var inspirationId = $(this).closest(".product").data("inspiration-id");
            var customizedId = $(this).closest(".product").data("customized-id");
            var $productLike = $(this);

            $.ajax({
                //url: "/Home/AddToFavorites",
                method: "POST",
                data: { productId: productId, inspirationId: inspirationId, customizedId: customizedId },
                success: function (response) {
                    if (response.success) {
                        alert("成功加到最愛啦!");
                        $productLike.addClass("product-like-active");
                    } else {
                        alert("請先登入 ");
                    }
                },
                error: function () {
                    alert("請求失敗哈哈");
                }
            });
        });

        // loadmore products.
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('loadMoreBtn').addEventListener('click', function () {
                var skeletonContainer1 = document.getElementById('skeletonContainer1');
                var skeletonContainer2 = document.getElementById('skeletonContainer2');
                skeletonContainer1.style.display = 'block';
                skeletonContainer2.style.display = 'block';
                setTimeout(function () {
                    skeletonContainer1.style.display = 'none';
                    skeletonContainer2.style.display = 'none';
                    loadMoreProducts();
                }, 2000);
            });
        });

        var displayedProductIds = [1, 2];
        function loadMoreProducts() {
            var ids = displayedProductIds.join(',');
            fetch(`http://localhost:7251/AdminImageCarousel/imagesTwo?ids=${ids}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    renderProducts(data);
                })
                .catch(error => {
                    console.error('加載失敗，請重新加載', error);
                });
        }

        function renderProducts(productList) {
            var productsContainer = document.querySelector('.gutter-2');
            productList.forEach(productItems => {
                var productHTML =
                    `<div class="col-6 col-lg-3">
                                <div class="product">
                                    <figure class="product-image">
                                        <a href="#!">
                                            <img src="http://localhost:7251/images/product/${productItems.ImageFileName}" alt="Image" />
                                            <div class="status">${productItems.Promotion.Name}</div>
                                        </a>
                                    </figure>
                                    <div class="product-meta">
                                        <h3 class="product-title">
                                            <a href="#!">${productItems.Category} / ${productItems.Name}</a>
                                        </h3>
                                        <div class="product-price">
                                            <span><del>NT$ ${productItems.OriginalPrice}</del>&nbsp;&nbsp;NT$ ${productItems.SalePrice}</span>
                                            <span class="product-action">
                                                <a href="#!">加到購物車</a>
                                            </span>
                                        </div>
                                        <a href ="#!" class="product-like"></a>
                                    </div>
                                </div>
                            </div>`;
                productsContainer.innerHTML += productHTML;
                displayedProductIds.length = 0;
                displayedProductIds.push(productItems.ProductId);
            });
        }


    </script>
}